<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>11.1</string>
    <key>CFBundleName</key>
    <string>IJianJi</string>
    <key>DTSDKName</key>
    <string>iphoneos11.1</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>爱剪辑需要访问相册添加图片进行编辑</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon-129x29</string>
          <string>AppIcon-140x40</string>
          <string>AppIcon-157x57</string>
          <string>AppIcon-160x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon-1</string>
      </dict>
    </dict>
    <key>CFBundleDisplayName</key>
    <string>爱剪辑手机版</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>DTSDKBuild</key>
    <string>15B87</string>
    <key>NSCameraUsageDescription</key>
    <string>爱剪辑需要访问相机拍摄视频</string>
    <key>CFBundleShortVersionString</key>
    <string>39</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>16G29</string>
    <key>DTPlatformBuild</key>
    <string>15B87</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>9.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTXcodeBuild</key>
    <string>9B55</string>
    <key>CFBundleVersion</key>
    <string>0</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>爱剪辑需要访问相册保存编辑好的图片</string>
    <key>UILaunchImageFile</key>
    <string>LaunchImage</string>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-1100-Portrait-2436h</string>
        <key>UILaunchImageSize</key>
        <string>{375, 812}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>11.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-Portrait</string>
        <key>UILaunchImageSize</key>
        <string>{768, 1024}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>NSMicrophoneUsageDescription</key>
    <string>爱剪辑需要访问麦克风同步视频录制声音</string>
    <key>CFBundleIdentifier</key>
    <string>com.zun.tuya</string>
    <key>DTXcode</key>
    <string>0910</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>IJianJi</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon-129x29</string>
          <string>AppIcon-140x40</string>
          <string>AppIcon-157x57</string>
          <string>AppIcon-160x60</string>
          <string>AppIcon-150x50</string>
          <string>AppIcon-172x72</string>
          <string>AppIcon-176x76</string>
          <string>AppIcon-183.5x83.5</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon-1</string>
      </dict>
    </dict>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
